.lazyLoading {
    position: relative;
    border: 1px solid rgb(38 38 38);
    color: white;
    background-color: black;
    border-radius: 0.75rem;
    padding: 20px;
    height: 100%;
    min-height: 400px;
}
.lazyLoading button {
    background: rgb(37 99 235);
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.lazyLoading .component {
    align-items: center;
    justify-content: center;
    border: 1px solid red;
    display: flex;
    
}