.movieSearch {
    position: relative;
    border: 1px solid rgb(38 38 38);
    color: white;
    background-color: black;
    border-radius: 0.75rem;
    padding: 20px;
    overflow: scroll;
    min-height: 542px;
    text-align: center;
}
.movieSearch button{
    background: rgb(84, 84, 84);
    color: white;
    padding: 8px 25px;
    border-radius: 8px;
    cursor: pointer;
}
.movieSearch form {
    padding-bottom: 20px;
}
.movieSearch h1 {
    font-size: 35px;
    padding: 10px;
}
.movieSearch input {
    color: black;
    border-radius: 5px;
    padding: 5px;
}
.movieSearchMain {
}
.movieSearchMain ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}

.movieSearchMain li {
    text-align: center;
    font-size: 12px;
}
