.solution {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;
}
.solution img {
    width: 200px;
    height: 200px;
    object-fit: contain;
    border: 1px solid red;
}