.CenterElements {
    text-align: left;
    position: relative;
    border: 1px solid rgb(38 38 38);
    color: white;
    background-color: black;
    border-radius: 0.75rem;
    padding: 20px;
    min-height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.CenterElements .screen {
    border: 1px solid red;
    width: 50%;
    text-align: center;
    font-size: 55px;
    margin-bottom: 10px;
    border-radius: 5px;
}
.CenterElements .container {
    width: 50%;
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 2fr; 
    grid-template-rows: 1fr 1fr; 
    gap: 8px 8px; 
    grid-template-areas: 
      ". . . . . ."
      ". . . . . ."
      "aa aa . bb bb cc"; 
}
.CenterElements .container button {
    border: 1px solid red;
    border-radius: 5px;
    font-size: 22px;
}







.show-counter {
    display: flex;
}
.show-counter div {
    text-align: center;
    width: 60px;
}
.aa { grid-area: aa; }
.bb { grid-area: bb; }
.cc { grid-area: cc; }
.r {
    border: 1px solid rgb(100, 1, 1)!important;
    color: rgb(41, 41, 41);
}
